doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/stylesheet.css')
    link(rel='stylesheet', href='/stylesheets/css/test2/stylesheet2.css')
  body
    block content
